.task-container {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.task-input {
    display: flex;
}

.left-field {
    padding-right: 25px;
    width: 100%;
    height: 416px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titel-field {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.titel-input {
height: 48px;
display: flex;
padding: 12px 21px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 10px;
border: 1px solid var(--Style, #D1D1D1);
background: #FFF;
cursor: pointer;
}

.description-field {
display: flex;
width: 440px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
}

textarea {
display: flex;
height: 120px;
padding: 18px 16px;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 10px;
border: 1px solid var(--Style, #D1D1D1);
background: #FFF;
cursor: pointer;
}

.contacts-field {
    display: flex;
    width: 440px;
    height: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contacts-field  .custom-dropdown {
    display: flex;
    width: 440px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: var(--white, #FFF);
}

.contacts-field  .custom-dropdown .assign-input {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
    display: none;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.assign-button {
    border: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacs-container {
    
}




h4 {
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: normal;
}

.letter-color {
    color: red;
}

.arrow {
    width: 16px;
    height: 16px;
}

.right-field {
    width: 440px;
    height: 416px;
    padding-left: 25px;
    border-left: 1.5px solid rgba(209, 209, 209, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
}

.date-field .date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    align-self: stretch;
    width: 440px;
    padding: 12px 16px;
}

.date-field .date-input {
    border: none;

}

.date-field .date-input .date-icon {
    width: 24px;
    height: 24px;
}

.butto-selection {
    width: 440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.prio-button {
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    align-items: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    font-family: PT Sans, sans-serif;
}

.custom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    cursor: pointer;
}


.custom-list .dropdown-options li {
    padding: 15px;
    list-style: none;
}

.custom-list .dropdown-options li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.custom-list .dropdown-options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 440px;
    margin-left: -17px;
    margin-top: 163px;
    border-radius: 10px;
    padding-left: 0px;
}



#content {
    margin: 100px 0 0 100px;
}