.task-container {
    display: flex;
    flex-direction: column;
    padding: 90px 0 0 96px;
    height: 100%;
    width: 1060px;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.task_input_ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 46px;
    height: 100%;
}

.task-input {
    display: flex;
}

.left-field {
    padding-right: 39px;
    width: 480px;
    height: 416px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titel-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.titel-input {
    display: flex;
    padding: 18px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    height: 48px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

.titel-input::placeholder {
    color: rgba(209, 209, 209, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.titel-input:focus {
    outline: none;
}


/* discription */

.description-field {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.textarea-container {
    position: relative;
    display: flex;
    padding: 18px 16px;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    height: 120px;
}

.textarea-field {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.textarea {
    flex: 1 0 0;
    border: none;
    resize: none;
}

.attrebute {
    font-weight: 400;
    background-color: #FFF;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}


.description-icon {
    width: 18.9px;
    height: 18.9px;
    position: absolute;
    bottom: 6.1px;
    right: 6.1px;
}

.textarea::placeholder {
    color: rgba(209, 209, 209, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

.textarea:focus {
    outline: none;
}


/* Assignet to */

.contacts-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.custom-dropdown {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: var(--white, #FFF);
    position: relative;
    z-index: 2;
}

.contacts-field .custom-dropdown .assign-input {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.contact_selected{
    background-color: #2A3647;
    color: white;
}

.contact_selected:hover{
    background-color: #091931 !important;
}

.assign-input {
    width: 246px;
    height: 25px;
    font-size: 20px;
}

.assign-input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
    display: none;
}

.assign-button {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assign-button:hover {
    border-radius: 100px;
    background: var(--white, #D1D1D1);
    border: 1px solid var(--Style, #D1D1D1);
    transform: scale(1.01);
    cursor: pointer;
}

.contact-container.hidden {
    display: none;
}

.contact-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px #D1D1D1;
    border-radius: 3px 3px 10px 10px;
    top: -15px;
    position: relative;
    z-index: 1;
}

.contact-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30vh;
}

.contacts-topfield {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 12px 24px 12px 16px;
}

.contacts-followfield {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
}

.contacts-topfield:hover {
    background-color: #D1D1D1;
}

.contacts-followfield:hover {
    background-color: #D1D1D1;
}

#assigned-to-contact-list{
    width: 100%;
    overflow: scroll;
    height: 30vh;
}

.contacts-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    margin-left: 10px;
}

.check-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.add-contact-bottom:hover {
    background-color: rgba(41, 171, 226, 1);
}

.add-buton {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.add-button-name {
    color: rgba(255, 255, 255, 1);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
}

.rotate {
    transform: rotate(180deg);
}


h4 {
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.letter-color {
    color: red;
}

.arrow {
    width: 16px;
    height: 16px;
}


/* Rigth Container */

.right-field {
    width: 480px;
    height: 410px;
    padding-left: 39px;
    border-left: 1.5px solid rgba(209, 209, 209, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Date Field*/

.date-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
}

.calender_input {
    border: 1px solid #D1D1D1;
    padding: 12px 16px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
}

.date-field input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/date.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #D1D1D1;
}

.date-field .date-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    align-self: stretch;
    width: 440px;
    padding: 12px 16px;
    position: relative;
}


/* Prio Field*/

.prio-container {
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
}

.button-selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.prio-button {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    padding: 16px 10px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    font-family: PT Sans, sans-serif;
    cursor: pointer;
}

#buttonUrgent.selected {
    background-color: #FF3D00;
    /* Red */
    color: white;
    /* Textfarbe */
}

#buttonMedium.selected {
    background-color: #FFA800;
    /* Orange */
    color: white;
    /* Textfarbe */
}

#buttonLow.selected {
    background-color: #7AE229;
    /* Grün */
    color: #ffffff;
    /* Textfarbe */
}


#iconUrgent.selected_icon {
    content: url('../images/prio_urgent_white.svg');
}

#iconMedium.selected_icon {
    content: url('../images/prio_medium_white.svg');
}

#iconLow.selected_icon {
    content: url('../images/prio_low_white.svg');
}

.prio-button:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    transform: scale(1.01);
}

.prio-image {
    width: 20px;
    height: 14.51px;
    fill: currentColor;
}



/* Category */

.category-fields {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.custom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    cursor: pointer;
}

.span-category {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

li {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.category-icon-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-icon-field:hover {
    border-radius: 100px;
    background: var(--white, #D1D1D1);
    border: 1px solid var(--Style, #D1D1D1);
    transform: scale(1.01);
}

.custom-list .dropdown-options li {
    padding: 15px;
    list-style: none;
}

.custom-list .dropdown-options li:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.custom-list .dropdown-options {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 440px;
    margin-left: -17px;
    margin-top: 163px;
    border-radius: 10px;
    padding-left: 0px;
}


/* Subtask */

.subtask-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 440px;
}

.subtask-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Style, #D1D1D1);
    background: #FFF;
    padding: 12px 16px;
}

.subtask-image-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.subtask-image-field-first {
    cursor: pointer;
}

.subtask-button-close {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.subtask-button-close:hover {
    border-radius: 100px;
    background: var(--white, #D1D1D1);
    border: 1px solid var(--Style, #D1D1D1);
    transform: scale(1.01);
}

.subtask-button-check {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.subtask-button-check:hover {
    border-radius: 100px;
    background: var(--white, #D1D1D1);
    border: 1px solid var(--Style, #D1D1D1);
    transform: scale(1.01);
}

.subtask-input {
    width: 170px;
    height: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
    border: none;
}

.subtask-input::placeholder {
    color: rgba(209, 209, 209, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subtask-input:focus {
    outline: none;
}

.subtask-content {
    width: 100%;
    height: auto;
}


.list-container {
    width: 100%;
}

.task-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 12px 16px;
}

.task-list:hover .edit-delete-container {
    display: flex;
}

.task-list:hover {
    background: var(--white, #D1D1D1);
    border-radius: 10px;
}


.liest-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-content {
    width: 300px;
    height: 24px;
}

.finished-content {
    width: 200px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    border: none;
    margin: 0;
}

.edit-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 12px 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #29ABE2;
}

.edit-delete-container {
    display: none;
    justify-content: center;
    align-items: center;
}

.delete-check-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Task Below */

.task-below {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}

.clear-create-button {
    display: flex;
    padding-bottom: 8px;
    min-height: 58px;

}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    min-width: 127px;
    font-size: 20px;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    padding: 10px 16px 10px 16px;
}

.clear-button:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #29ABE2;
}

.clear-button:hover img {
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.create-button {
    background: #2A3647;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    font-size: 20px;
    margin: 0;
    color: #f0f0f0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    padding: 10px 16px 10px 16px;
    margin-left: 10px;
    background: #2A3647;
}

.create-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: #29ABE2;
    cursor: pointer;
}



@media (max-width: 1290px) {

    .task-container {
        overflow: scroll;
        padding: ;
    }

    .task-input {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .left-field {
        padding: 0;
    }

    .right-field {
        padding: 0;
        border: none;
    }

    .titel-input {
        width: 440px;
    }

    .custom-dropdown {
        width: 440px;
    }

    .contact-container {
        width: 440px;
    }

    .task-below {
        justify-content: start;
    }

    .requered-field {
        display: none;
    }

    .clear-create-button {
        margin-top: 40px;
        width: 440px;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {

    .task-container  {
        padding: 20px 20px 20px 20px;
    }
}