*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content {
    position: relative;
    z-index: 98;
    margin: 100px 0 0 200px;
    margin: 0;
    padding: 100px 64px 0 64px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.titleContain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    margin: 80px 0 0 0;
}

.titleContain h1 {
    font-size: 61px;
    font-weight: 700;
}

.boardInputBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    width: 312px;
    height: 48px;
    background-color: #ffffff;
}

.boardInputBox,
.inputFindTask:hover {
    cursor: pointer;
}

.boardInputBox img {
    width: 32px;
    height: 32px;
}

.boardInputBox img:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.inputFindTask {
    outline: none;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #A8A8A8;
    flex-grow: 1;
    height: 32px;
    line-height: 24px;
    padding: 0;
    font-size: 20px;
}

.inputFindTask::placeholder {
    color: #d1d1d1;
}

.addTaskBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 16px 8px 16px;
    min-width: 110px;
    height: 48px;
    border-radius: 8px;
    border-color: transparent;
    background-color: #2A3647;
    color: white;
    font-weight: 700;
    font-size: 21px;
    text-wrap: nowrap;
}

.addTaskBtn:hover {
    background-color: #29ABE2;
    transition: 100ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.addTaskBtn img {
    width: 32px;
    height: 32px;
}

.inputPlusBtn {
    gap: 32px;
    margin-right: 20px;
}

.progressNamesContain,
.taskContain,
.titleContain {
    max-width: 1360px;
    width: 100%;
}

.progressNamesContain {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 30px 20px 0 10px;
    gap: 34px;
}

.svgHover:hover {
    cursor: pointer;
}

.svgHover:hover path,
.svgHover:hover rect {
    stroke: #29ABE2;
}


.progressName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 311px;
    min-width: 180px;
    margin: 0;
    font-size: 20px;
    color: #42536E;
    font-weight: 700;
    text-wrap: nowrap;
    padding: 5px 0 5px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.2);
}

.taskContain {
    display: flex;
    width: 100%;
    max-width: 1340px;
    padding: 0 0 0 10px;
    margin: 0;
    gap: 36px;
}

.taskLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 100%;
    max-width: 311px;
    min-width: 180px;
}

.section {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 16px;
    gap: 18px;
    width: 100%;
    margin-bottom: 20px;
}

.userStory {
    margin: 0;
    padding: 4px 16px 4px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    background-color: #0038ff;
    border-radius: 8px;
    width: max-content;
    color: #ffffff;
}

.section p {
    margin: 0;

}

.section article {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taskTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.taskDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #A8A8A8;
}

#subtask_contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.progressbar-container {
    width: 128px;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 16px;
}

.progressbar {
    height: 100%;
    width: 0;
    background-color: #4589FF;
    border-radius: 16px;
}

#subtask {
    font-size: 12px;
    line-height: 14.4px;
    text-wrap: nowrap;
    padding-left: 10px;
}

.profilePropertyContain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profilePropertyContain img {
    width: 34px;
    height: 34px;
}

.profileBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(119, 0, 255);
    border: 2px solid #ffffff;
    padding: 6px;
    color: white;
    margin-left: -10px;
    margin-bottom: 4px;
    height: 36px;
    width: 36px;
}

.profileContain {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
}

.emptyTaskLine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin: 0;
    font-size: 16px;
    color: #A8A8A8;
    height: 54px;
    text-wrap: nowrap;
}

.scrollbar {
    height: 570px;
    overflow-y: scroll;
    padding: 12px 12px 0 0;
    margin: -1px 0px 0 0;
    width: 100%;
    max-width: 1380px;
    min-width: 860px;
}

.d-none {
    display: none;
}

@media(max-width:1400px) {

    .progressNamesContain {
        gap: 36px;
    }
}

@media(max-width:1299px) {

    .progressNamesContain {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0 0 0 10px;
        gap: 0;
    }

    .progressNameWithLine {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .taskLine {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: transparent;
        width: 100%;
        max-width: none;
        min-width: 0;
        height: 100%;
        gap: 20px;
        padding: 20px 10px 10px 0;
        margin-left: 0;
    }

    .scrollbar {
        height: 620px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0 12px 0 0;
        margin: 30px 0px 0 0;
        width: auto;
        max-width: none;
        min-width: 0;
    }

    .scrollbarTaskLine {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }

    .section {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        padding: 16px;
        gap: 18px;
        width: 100%;
        min-width: 285px;
        max-width: 285px;
        margin: 0 0 0 10px;
    }

    .emptyTaskLine {
        max-width: 311px;
    }

    .titleContain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 73px;
        margin: 80px 0 0 0;
        padding: 0 0 0 10px;
    }
}

@media(max-width:1099px) {
    .addBtnText {
        display: none;
    }

    .addTaskBtn {
        min-width: 0;
        padding: 0 6px 0 6px;
    }
}

@media(max-width:999px) {

    .scrollbar {
        padding: 0;
        height: 100vh !important;
        padding-bottom: 370px;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    .progressName {
        max-width: none;
        font-size: 27px;
        color: #2A3647;
    }

    .svgHover {
        height: 30px;
        width: 30px;
    }
}

@media(max-width:730px) {
    #content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 58px !important;
    }

    .titleContain {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;
        margin: 0 0 0 0;
        padding: 0 0 0 10px;
    }

    .inputPlusBtn {
        justify-content: space-between;
        gap: 10%;
        margin-right: 20px;
        width: 100%;
    }

    .progressNamesContain {
        padding: 0;
    }

    .section {
        max-width: 252px;
        min-width: 252px;
    }

    .boardInputBox {
        width: 100%;
    }

    .addTaskBtn {
        min-width: 50px;
        padding: 0 6px 0 6px;
    }

    .inputFindTask {
        width: 100%;
    }

    .scrollbar {
        padding-bottom: 364px;
    }
}