.contacts_content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.contact_list_section {
    display: flex;
    flex-direction: column;
    width: 38%;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    background-color: white;
}

.add_contact_btn_div {
    padding: 22.5px 52px;
}

#add-contact-button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 16px;
    color: white;
    background-color: #2A3647;
}

#add-contact-button:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contacts_list_div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 24px;
    margin-left: 28px;
    margin-right: 28px;
}

.contact_organizer {
    font-size: 20px;
    padding: 17px 36px;
}

.divider {
    border: 1px solid #D1D1D1;
}

.contact_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    padding: 15px 24px;
    border-radius: 10px;
}

.contact_div:hover {
    background-color: rgb(243, 243, 243);
}

#contact-name {
    font-size: 20px;
}

#contact-email {
    color: rgba(0, 124, 238, 1);
}

.contact_circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#selected-contact-content {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-left: 62px;
}

.selected_contact_circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
}

.selected_contact_name_div {
    display: flex;

}

.selected_contact_infos {
    width: 100%;
    padding-top: 64px;
}

.contact_title {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 55px;
}

.contact_title h1 {
    font-size: 61px;
}

.contact_title span {
    font-size: 21px;
}

.gap_54 {
    gap: 54px;
}

.gap_15 {
    gap: 15px;
}

.gap_8 {
    gap: 8px;
}

.gap_5 {
    gap: 5px;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.align_item_center {
    display: flex;
    align-items: center;
}

.align_item_start {
    align-items: flex-start;
}


#selected-contact-name {
    font-size: 47px;
    font-weight: 500;
}

.contact_information_title {
    display: flex;
    align-items: center;
    height: 74px;
    width: 207px;
    font-size: 20px;
}

#selected-contact-email {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 124, 238, 1);
}

#selected-contact-phone {
    font-size: 16px;
    font-weight: 400;
}

.font_weight_700 {
    font-weight: 700;
}

.popup_ctn {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
}

.add_contact_popup {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    border: 1px solid transparent;
    width: 90%;
    height: 60%;
}

.section_left {
    background-color: #2A3647;
    width: 40%;
    border-radius: 30px 0 0 30px;
}

.call_to_action_ctn {
    width: 100%;
    height: 100%;
    padding: 68px 46px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call_to_action_logo {
    width: 55px;
    height: 66px;
    position: absolute;
    top: 136px;
    left: 68px;
}

.call_to_action_text {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 8px;
}

.call_to_action_text h2 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.call_to_action_text span {
    font-size: 27px;
    font-weight: 400;
}

.call_to_action_vector {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 16px 24px;
}

.call_to_action_vector img {
    width: 90px;
    height: 2px;
}

.section_right {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    border-radius: 30px;
}

#close-add-contact-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

#close-add-contact-popup:hover{
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #D1D1D1;
    cursor: pointer;
}

.contact_profil_ctn {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.contact_profil {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1D1D1;
    border: 2px solid #D1D1D1;
    border-radius: 50%;
}

.flex_end {
    display: flex;
    justify-content: flex-end;
}

.padding_48 {
    padding: 48px;
}

.width_100 {
    width: 100%;
}

.add_contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-left: 10%;
    margin-right: 48px;
}

.add_contact_inputs_ctn {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80%;
}

.add_contact_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 13px 21px;
    width: 100%;
    border: 1px solid #D1D1D1;
}

.add_contact_input input {
    border: none;
    outline: none;
    line-height: 24px;
    min-width: min-content;
    font-size: 20px;
    width: 100%;
}

.add_contact_input input::placeholder {
    font-size: 20px;
    color: rgba(209, 209, 209, 1);
}

.add_contact_buttons_ctn {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.cancel_contact_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-size: 20px;
    max-height: 58px;
    min-width: 126px;
    cursor: pointer;
}

.cancel_contact_button_div:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #29ABE2; 
}

.cancel_contact_button_div:hover img{
    filter: invert(70%) sepia(74%) saturate(3560%) hue-rotate(165deg) brightness(95%) contrast(85%);
}

.create_contact_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px;
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

.create_contact_button_div:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.d-none {
    display: none;
}