.contacts_content {
    display: flex;
    height: 100vh;
    width: 100%;
}

.contact_list_section {
    width: 40%;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.add_contact_btn_div {
    padding: 22.5px 52px;
}

#add-contact-button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 16px;
    color: white;
    background-color: #2A3647;
}

.contact_circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#selected-contact-content{
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-left: 62px;
}

.selected_contact_circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
}

.selected_contact_name_div{
    display: flex;

}

.selected_contact_infos{
    width: 60%;
    padding-top: 64px;
}

.contact_title{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 55px;
}

.contact_title h1{
    font-size: 61px;
}

.contact_title span{
    font-size: 21px;
}

.gap_54{
    gap: 54px;
}

.gap_15{
    gap: 15px;
}

.gap_8{
    gap: 8px;
}

.flex_column{
    display: flex;
    flex-direction: column;
}

.align_item_center{
    display: flex;
    align-items: center;
}

.align_item_start{
    align-items: flex-start;
}


#selected-contact-name{
    font-size: 47px;
    font-weight: 500;
}

#selected-contact-email{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 124, 238, 1);
}

#selected-contact-phone{
    font-size: 16px;
    font-weight: 400;
}

.font_weight_700{
    font-weight: 700;
}

