.legal_notice_ctn{
    display: flex;
    flex-direction: column;
    padding: 110px 98px 0 96px;
    gap: 24px;
    overflow: scroll;
    height: calc(100vh - 96px);
}

.legal_notice_ctn h2{
    margin: 0;
}

.legal_notice_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.legal_notice_title h1{
    margin: 0;
    font-size: 61px;
}

.legal_notice_title img{
cursor: pointer;
}

