.Frontend {
    background-color: #fffc31;
    color: #000000;
}

.Backend {
    background-color: #684700;
    color: #ffffff;
}

.Web_Security {
    background-color: #c725a4;
    color: #ffffff;
}
