header{
    background-color: #F6F7F8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    padding: 67px 122px 0 0;
    color: #000000;
}

main{
    height: calc(100vh - 115px);
    width: 100%;
    background-color: #F6F7F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login_inputs{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#sign-up{
    padding: 15px 16px;
    border-radius: 8px;
    background-color: rgb(42, 54, 71);
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#sign-up:hover{
    background-color: #29ABE2;
}

.login_form{
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 652px;
    height: 493px;
}

.login_form h1{
    display: flex;
    justify-content: center;
    font-size: 61px;
    font-weight: 700;
}

.login_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login_input_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    width: 422px;
    height: 48px;
    padding: 12px 21px;
}

.login_input_div input{
    border: none;
    outline: none;
}

.login_button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 35px;
}

.remember_me{
    width: 422px;
    height: 24px;
}

#remember-me-btn{
    height: 24px;
    width: 24px;
    border-radius: 3px;
}