body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

nav {
    height: 100vh;
    width: 232px;
    background-color: rgba(42, 54, 71, 1);
}

.joinContain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
}