<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>desktop_template</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="flex">
    <header>
        <p class="headerTitle">Kanban Project Management Tool</p>
        <div>
            <div class="headerInfoContain">
                <img src="/images/help.svg">
                <p onclick="openProfilMenu()">SM</p>
            </div>
        </div>
    </header>
    <div id="profile_menu_contain" onclick="closeProfilMenu()" class="menuBgr d-none">
        <div onclick="stop(event)" class="profileMenu">
            <a href="#">Legal Notice</a>
            <a href="/HTML/privacy_policy.html">Privacy Policy</a>
            <a href="#">Log out</a>
        </div>
    </div>
    <nav class="column">
        <div id="join_logo" class="joinContain" onclick="renderSummary()">
            <a>
                <img src="/images/join_logo.svg">
            </a>
        </div>
        <div class="navLinkContain column">
            <a id="summary" onclick="renderSummary()"><img src="/images/summary.svg"> Summary</a>
            <a id="add_task" onclick="renderAddTask()"><img src="/images/add_task.svg"> Add Task</a>
            <a id="board" onclick="renderBoard()"><img src="/images/board.svg"> Board</a>
            <a id="contacts" onclick="renderContacts()"><img src="/images/contacts.svg"> Contacts</a>
        </div>
        <div class="privacyContain column">
            <a class="privacyHoverEffect" href="/HTML/privacy_policy.html">Privacy Policy</a>
            <a class="privacyHoverEffect" href="/HTML/legal_notice.html">Legal notice</a>
        </div>
    </nav>
</body>

</html>