<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobile_template</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="flex">
    <div class="mobile">
        <header>
            <img src="/images/join_logo_mobile_version.svg">
            <div>
                <div class="headerInfoContain">
                    <p>SM</p>
                </div>
            </div>
        </header>
        <nav>
            <div class="navLinkContain">
                <a id="summary" onclick="renderSummary()">Summary<img src="/images/summary.svg"></a>
                <a id="add_task" onclick="renderAddTask()">Board<img src="/images/board.svg"></a>
                <a id="board" onclick="renderBoard()">Add Tasks<img src="/images/add_task.svg"></a>
                <a id="contacts" onclick="renderContacts()">Contacts<img src="/images/contacts.svg"></a>
            </div>
        </nav>
    </div>
</body>

</html>